block translation_strings
	#pageName Мрежата на Индра
	#pageTitle Мрежата на Индра - Социален експеримент
	#pageDescription Виж отражението си във Фейсбук приятелите си.
	#loadingImageLabel Зареждане на палитрата
	#selectImageLabel Изберете изображение:
	#selectImageSizeLabel Изберете размер:
	#picSizeSmall Малък
	#picSizeLarge Голям
	#picSizeHuge Огромен
	#blurImageLabel Замъгляване на вкус:
	#selectActionLabel Ще желаете ли:
	#saveImg Да запазите изображението
	#fbUpload Да го качите в Фейсбук
	#seeMoreAbout Да видите повече за сайта
	#browserWarningText
		| Изглежа използвате браузър който е или твърде стар
		| или не е поддържан. Все пак можете да влезете в сайта
		| но имайте предвид че най вероятно няма да работи както трябва.
		div: b
			| Предупредени сте, така че ако искате натиснете бутона сега! Може
			| би по някакъв магичен и мистериозен начин все пак ще сработи ;)
	#oldBrowserButton Разбрах
	#greetingMessageText
		p
			| Здравей :) Добре дошъл на този малък експеримент по
			| откриване на себе си.
		p
			| Твърди се че мрежата на Индра е безкрайна във
			| всички посоки и във всеки възел има по един скъпоценен камък. На повърхността
			| на всеки скъпоценен камък може да се види отражението на всички останали
			| скъпоценни камъни в мрежата.
		p Искаш ли да видиш своето отражение в мрежата ? :)
	#enterButton Да!
	#fbLogin Вход с Фейсбук
	#imageSavePane Запазване на изображение
	#saveAsInstructions
		| Кликнете с десен бутон на изобравението отдолу и изберете "Save Image (As).."/"Запази като .."
		| за да запазите изображението на вашия компютър
	#imgSaveClose Затвори
	#uploadToFBPane Качване в Фейсбук
	#noSendBinaryWarningText
		| Изгежда че браузъра ви не поддържа някои
		| HTML5 функции.Ако имате проблеми
		| с качването на картинки моля използвайте Firefox или Chrome.
	#postComment Текст към изображението
	#pictureComment Виж твоето отражение на
	#postTags Добави тагове
	#uploadPicture Качи
	#uploadingMessage Качване в прогрес ...
	#taggingInProgress Тагване в прогрес ...
	#allDone Готово :)
	#uploadedPicUrl Виж изображението тук
	#makeProfilePicUrl Направи изображението профилно тук
	#closeUpload Затвори
	#postToWall Публикувай на стената
	#uploadErrorBoxText
		| Имаше проблем докато запазвахме изображението .
		| Грешката е :
	#errorCloseUpload Затвори
	#javascripRequired Това приложение изисква Javascript
	#spinnerAlt Зареждане
	#aboutPagePane Относно този сайт
	#apFBpageHeader Коментари
	#apFBpageText
		p Ако харесвате сайта, с радост бихме желали да чуем вашето мнение.
		p
			| Може да ни посетите на нашата <a href="http://www.facebook.com/net.of.indra" target="_blank">
			| Фейсбук страница</a> и да споделите какво мислите :)
		p
		p: b: a(href="http://www.facebook.com/net.of.indra",target="_blank")
			| Фейсбук страница
		p
		p
			| В случай че намерите проблем, или нещо не работи
			| може да отворите Проблем на <a href="https://github.com/zaro/net-of-indra/issues"  target="_blank">
			| https://github.com/zaro/net-of-indra/issues</a>
	#apAboutHeader Кой, как и защо?
	#apAboutText
		p: b Кой?
		p
			include ../who
		p: b Как?
		p
			| Прекарали сме дълги години на медитация в пещера в планините
			| за да придобием знанията и уменията необходими за проект като този ;)
		p: b Защо?
		p Тотално световно <s>господство</s> обединение разбира се ;)
	#apContributeHeader Участие
	#apContributeText
		| Ако чувствате че може да допринесете с нещо за този сайт,
		| винаги може да се намери нещо за програмиране, тестване или превод.
		| Най вече за превод.
		| Вижте <a href="http://github.com/zaro/net-of-indra">http://github.com/zaro/net-of-indra</a>
		| за повече информация.
	#apDonateHeader Дарения
	#apDonateText
		| Искате да направите дарение ? Това е чудесно но в момента нямаме
		| нужда от пари за проекта. Но ако наистина имате това добро
		| намерение може да дарите малка сума на кауза по ваш избор,
		| или просто на някой просяк на улицата.

