block translation_strings
	#languageName Deutsch
	#pageName Indras Netz
	#pageTitle Indras Netz - Soziales Experiment
	#pageDescription Sihe dich selbst an reflektiert durch deine Facebook Freunde.
	#loadingImageLabel Palette aufladen
	#selectImageLabel Bild wählen
	#selectImageSizeLabel Bildgröße wählen:
	#picSizeSmall Klein
	#picSizeLarge Mittle
	#picSizeHuge Groß
	#blurImageLabel Deinem Geschmack entsprechend verwischen:
	#selectActionLabel Du würdest gerne:
	#saveImg Das Bild speichern
	#fbUpload Das Bild auf Facebook aufladen
	#seeMoreAbout Erfahre mehr über diese Webseite
	#browserWarningText
		| Scheinbar verwendest du einen Browser der entweder zu alt ist 
		| oder nicht unterstützt wird. Du bist frei es immer noch zu versuchen aber gedenke, dass
		| es höchst wahrscheinlich nicht funktionieren wird.
		div: b
			| Du bist gewarnt! Jetzt mach schon! Klick schon den Knopf!
			| Vielleich passiert ein Wunder, oder auf irgend einer misteriöser Weise funktioniert es ;)
	#oldBrowserButton Ich verstehe
	#greetingMessageText
		p
			| Hallo! :) Wilkommen zu diesem 
			| kleinen Selbsterforschungs Versuch
		p
			| Man sagt, Indras Netz ist unendlich in allen Richtungen
			| und jeder Knoten enthäl einen Edelstein. Die Oberflächen 
			| jedes einzelnen Edelsteines spiegelt alle andere Edelsteine des Netzes, 
			| so kann man alle Edelsteine in einem sehen.
		p  Möchtest du deine Spiegelung im Netz sehen? :)
	#enterButton Ja!
	#fbLogin Mit Facebook einloggen.
	#imageSavePane Bild speichern
	#saveAsInstructions
		| Rechtsklick auf dem Bild weiter unten und "Bild speichern als..." wählen
		| um das Bild auf deinem Computer zu speichern
	#imageToSave Bild zum speichern
	#imgSaveClose schließen
	#uploadToFBPane Auf Facebook aufladen
	#noSendBinaryWarningText
		| Scheinbar unterstützt dein Browser einige 
		| HTML5 Funktionen nicht. Falls du Probleme hast
		| verwende bitte Firefox or Chrome.
	#postComment Bild Text
	#pictureComment Sihe deine Spiegelung auf 
	#postTags Füge Markierungen hinzu
	#uploadPicture Aufladen
	#uploadingMessage Aufladen im Gange ...
	#taggingInProgress Markieren im Gange ...
	#allDone Fertig :)
	#uploadedPicUrl Aufgeladenes Bild hier sehen
	#makeProfilePicUrl Als Profilbild verwenden
	#closeUpload Schließen
	#postToWall Auf Pinnwand posten
	#uploadErrorBoxText
		| Es gab ein Fehler beim Aufladen des Bildes
		| Der Fehler ist :
	#errorCloseUpload Schließen
	#javascripRequired Diese Andwendungssoftware benötigt JavaScript
	#spinnerAlt Aufladen im Gange
	#aboutPagePane Über diese Seite
	#apFBpageHeader Kommentare
	#apFBpageText
		p Magst du diese Seite so würden wir es gern hören.
		p
			| Besuche uns auf <a href="http://www.facebook.com/net.of.indra" target="_blank">
			| Facebook Seite</a> , und teile uns deine Gedanken über die Webseite mit :)
		p
		p: b: a(href="http://www.facebook.com/net.of.indra",target="_blank")
			| Facebook Seite
		p
		p
			| Hast du ein Problem gefunden, oder funktioniert etwas nicht
			| kannst du das Thema auf  <a href="https://github.com/zaro/net-of-indra/issues" target="_blank">
			| https://github.com/zaro/net-of-indra/issues</a> eröffnen.
	#apAboutHeader Wer, wie und wieso?
	#apAboutText
		p: b Wer?
		p
			include ../who
		p: b Wie?
		p
			| Wir haben viele Jahre in einer Höhle in den Bergen in tiefer Meditation verbracht
			| um die Kenntnisse und Fähigkeiten zu erwerben, die für die Herstellung solch ein Projektes nötig sind ;)
		p: b Wieso?
		p Für die ganzheitliche <s>Beherschung</s> Vereinigung (natürlich) dieser Welt ;)
	#apContributeHeader Beitragen
	#apContributeText
		| Hast du das Gefühl, dass du zu dieser Seite beitragen möchtest, können wir immer Hilfe  
		| beim Programmieren, beim Testen oder bei der Übersetzung gebrauchen.
		| besonders bei der Übersetzung :).
		| Für weitere Details sieh hier <a href="http://github.com/zaro/net-of-indra" target="_blank">http://github.com/zaro/net-of-indra</a>
	#apDonateHeader Spenden
	#apDonateText
		| Möchtest du spenden? Das ist wunderbar! Zur Zeit brauchen wir aber kein Geld für dieses Projekt.
		| Wenn du unbedingt doch eine Spende machen möchtest dann spende Menschen/Angelegenheiten deiner Wahl,
		| sogar einem Bettler auf der Strasse.

