block translation_strings
	#languageName English
	#pageName Net of Indra
	#pageTitle Net of Indra - Social Experiment
	#pageDescription See your reflection trough your Facebook friends.
	#loadingImageLabel Loading palette
	#selectImageLabel Select image:
	#selectImageSizeLabel Select image size:
	#picSizeSmall Small
	#picSizeLarge Large
	#picSizeHuge Huge
	#blurImageLabel Blur it to taste:
	#selectActionLabel Would you like to:
	#saveImg Save the image
	#fbUpload Upload the image to Facebook
	#seeMoreAbout See more about this site
	#browserWarningText
		| It seems that you are using browser that is either too old
		| or not supported. You can still try to enter here but keep
		| in mind that most probably all the functionality will be broken.
		div: b
			| You have been warned, go and and click that button now! Maybe
			| by some magic and mysterious way it will work ;)
	#oldBrowserButton I understand
	#greetingMessageText
		p
			| Hello :) Welcome to
			| this little self discovery experiment.
		p
			| It is said that the Net of Indra is infinite in
			| all directions and at every node there is a gem. On
			| the surface of every gem a reflection of all other gems in
			| the net can be seen.
		p Do you want to see your reflection in the net ? :)
	#enterButton Yes!
	#fbLogin Login with Facebook
	#imageSavePane Save image
	#saveAsInstructions
		| Right click on the image below and choose "Save Image (As).."
		| to save the image to your computer
	#imageToSave Image to save
	#imgSaveClose Close
	#uploadToFBPane Upload to Facebook
	#noSendBinaryWarningText
		| It seems that your browser doesn't support
		| some HTML5 functionality. If you have
		| problems, please use Firefox or Chrome.
	#postComment Picture text
	#pictureComment See your reflection at
	#postTags Add tags
	#uploadPicture Upload
	#uploadingMessage Upload in progress ...
	#taggingInProgress Tagging in progress ...
	#allDone All done :)
	#uploadedPicUrl See uploaded picture here
	#makeProfilePicUrl Make profile picture
	#closeUpload Close
	#postToWall Post to wall
	#uploadErrorBoxText
		| There was an error while trying to upload your image,
		| Error is :
	#errorCloseUpload Close
	#javascripRequired This application requires JavaScript
	#spinnerAlt Loading
	#aboutPagePane About this site
	#apFBpageHeader Comments
	#apFBpageText
		p If you like this site, we would like to hear from you.
		p
			| You can visit us at our <a href="http://www.facebook.com/net.of.indra" target="_blank">
			| Facebook Page</a> , and share what you think about it :)
		p
		p: b: a(href="http://www.facebook.com/net.of.indra",target="_blank")
			| Facebook Page
		p
		p
			| In case you find a problem, or something is not working
			| you can open an Issue at <a href="https://github.com/zaro/net-of-indra/issues" target="_blank">
			| https://github.com/zaro/net-of-indra/issues</a>
	#apAboutHeader Who, how and why?
	#apAboutText
		p: b Who?
		p
			include ../who
		p: b How?
		p
			| We have spent many years meditating in a cave in the mountains
			| in order to gain the knowledge and abilities to do a project like this ;)
		p: b Why?
		p Total world <s>domination</s> union of course ;)
	#apContributeHeader Contribute
	#apContributeText
		| If you feel like you want to contribute to this site ,
		| we can always use some help in programming, testing or translation.
		| Especially translation :).
		| Check <a href="http://github.com/zaro/net-of-indra" target="_blank">http://github.com/zaro/net-of-indra</a>
		| for more details.
	#apDonateHeader Donate
	#apDonateText
		| You want to donate ? That is great but currently there is no
		| real need for money for this project. But if you really have this
		| good intention donate a small amount to a cause you would like,
		| or even just to a beggar on the street.

