block translation_strings
	#languageName Română
	#pageName Rețeaua lui Indra
	#pageTitle Rețeaua lui Indra - Experiment Social
	#pageDescription Privește-te în oglinda prietenilor de pe Facebook.
	#loadingImageLabel Încarcă paleta
	#selectImageLabel Selectează imaginea:
	#selectImageSizeLabel Selectează mărimea imaginii:
	#picSizeSmall Mică
	#picSizeLarge Mare
	#picSizeHuge Imensă
	#blurImageLabel Estompează imaginea pe gustul tău:
	#selectActionLabel Dorești să:
	#saveImg Salvezi imaginea
	#fbUpload Încarci imaginea pe Facebook
	#seeMoreAbout Să afli mai mule despre acest site
	#browserWarningText
		| Se pare că folosești un browser ori prea vechi ori care nu
		| este acceptat. Poți să încerci în continuare să intri dar ține
		| minte, cel mai probabil site-ul nu va funcționa.
		div: b
			| Ai fost avertizat! Apasă acum butonul acela! 
			| Poate prin vreo minune și pe căi misterioase va funcționa ;)
	#oldBrowserButton Am înțeles
	#greetingMessageText
		p
			| Bună! :) Bine ai venit la 
			| acest mic experiment de autodescoperire.
		p
			| Se spune că Rețeaua lui Indra este infinită în toate dimensiunile
			| și că fiecare nod din rețea conține o piatră prețioasă. Pe suprafața 
			| fiecărei pietre prețioase sunt reflectate toate celelalte pietre
			| prețioase din rețea.
		p Dorești să îți vezi imaginea reflectată în rețea? :)
	#enterButton Da!
	#fbLogin Intră cu Facebook
	#imageSavePane Salvează imaginea
	#saveAsInstructions
		| Click dreapta pe imaginea de mai jos și alege "Save Image (As)..."/”Salvează imaginea (ca)...”
		| pentru a salva imaginea pe calculatorul tău
	#imageToSave Imaginea de salvat
	#imgSaveClose Închide
	#uploadToFBPane Încarcă pe Facebook
	#noSendBinaryWarningText
		| Se pare că browser-ul tău nu suportă anumite 
		| funcții HTML5. Dacă ai probleme, 
		| te rog folosește Firefox sau Chrome.
	#postComment Text imagine
	#pictureComment Privește-ți reflexia!
	#postTags Adaugă tag-uri
	#uploadPicture Încarcă
	#uploadingMessage Încărcare în derulare...
	#taggingInProgress Adăugare de tag-uri în derulare...
	#allDone Gata! :)
	#uploadedPicUrl Vezi poza încărcată aici
	#makeProfilePicUrl Adaugă ca fotografie de profil
	#closeUpload Închide
	#postToWall Postează pe perete
	#uploadErrorBoxText
		| A intervenit o eroare în timp ce încercai să încarci imaginea,
		| Eroarea este :
	#errorCloseUpload Închide
	#javascripRequired Această aplicație necesită JavaScript
	#spinnerAlt Încarcă
	#aboutPagePane Despre acest site
	#apFBpageHeader Comentarii
	#apFBpageText
		p Dacă îți place acest site ne-am bucura să auzim opinia ta.
		p
			| Ne poți vizita pe <a href="http://www.facebook.com/net.of.indra" target="_blank">
			| Facebook Page</a> , și ne poți împărtăși opinia ta :)
		p
		p: b: a(href="http://www.facebook.com/net.of.indra",target="_blank")
			| Facebook Page
		p
		p
			| În cazul în care întâlnești o problemă sau ceva nu funcționează poți să 
			| deschizi subiectul pe <a href="https://github.com/zaro/net-of-indra/issues" target="_blank">
			| https://github.com/zaro/net-of-indra/issues</a>
	#apAboutHeader Cine, cum și de ce?
	#apAboutText
		p: b Cine?
		p
			include ../who
		p: b Cum?
		p
			| Am petrecut mulți ani meditând într-o peșteră în munți
			| pentru a atinge nivelul de cunoștințe și abilități necesare pentru un proiect ca acesta ;)
		p: b De ce?
		p <s>Dominație</s> Uniune (bine-nțeles) totală a lumii ;)
	#apContributeHeader Contribuie
	#apContributeText
		| Dacă simți nevoia să contribui la acest site,
		| orice ajutor în programare, testare sau traducere este binevenit... 
		| mai ales în traducere :).
		| Verifică <a href="http://github.com/zaro/net-of-indra" target="_blank">http://github.com/zaro/net-of-indra</a>
		| pentru detalii.
	#apDonateHeader Donează
	#apDonateText
		| Dorești să donezi? Nemaipomenit! Dar momentan nu este nevoie de bani
		| pentru acest proiect. Dar dacă ai întradevăr aceste intenții bune
		| donează o sumă la alegere unei cauze care ți se pare demnă,
		| sau doar unui cerșetor pe stradă.

