a(href="http://www.facebook.com/vibrant.rainbow",target="_blank")
	img(src="http://graph.facebook.com/vibrant.rainbow/picture",alt="Vibrant Rainbow",width="25px",height="25px")
a(href="http://www.facebook.com/profile.php?id=1252209371",target="_blank")
	img(src="http://graph.facebook.com/1252209371/picture",alt="Albina Toma",width="25px",height="25px")
a(href="http://www.facebook.com/HuKoKuH",target="_blank")
	img(src="http://graph.facebook.com/HuKoKuH/picture",alt="Positron Primus",width="25px",height="25px")

